<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <portaAuthentication UserName="SystemsAPI" Environment="2" xdt:Transform="Replace" />
  <log4net xdt:Transform="RemoveAttributes(debug)">
    <appender>
      <file value="..\..\logs\imagine.log" xdt:Transform="Replace"/>
    </appender>
    <root>
      <level value="INFO" xdt:Transform="Replace" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <system.web>
  </system.web>

  <connectionStrings>
    <add name="Imagine.Rest.Properties.Settings.PortaModel" connectionString=""  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Imagine.Rest.Properties.Settings.Dr_Reporting" connectionString=""  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Imagine.Rest.Properties.Settings.Dr" connectionString=""  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Imagine.Rest.Properties.Settings.Voxzal" connectionString=""  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Entities" connectionString="" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DrEntity" connectionString="" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="VoxzalModel" connectionString="" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>
